@import "variables.scss";

main .advice {
animation-name: shinyText;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-timing-function: ease;
animation-direction: alternate;
}

@keyframes shinyText {
from {
text-shadow: 0px 0px 0px;
 }
to {
text-shadow: 0px 0px 10px;
 }
}

@keyframes buttonAnimation {
0% {
transform: rotate(0deg);
box-shadow: none;
 }
25% {
transform: rotate(-20deg);
box-shadow: 0 0 20px 5px $Neon-Green;
 }
50% {
transform: rotate(0deg);
box-shadow: none;
 }
75% {
transform: rotate(20deg);
box-shadow: 0 0 20px 5px $Neon-Green;
 }
100% {
transform: rotate(0deg);
box-shadow: none;
 }
}

.button-animate {
animation-name: buttonAnimation;
animation-duration: 1s;
animation-direction: reverse;
}

@keyframes lampSwing1 {
0%, 100% { 
transform: rotate(-6deg); 
 }
50% { 
transform: rotate(6deg); 
 }
}

@keyframes lampSwing2 {
0%, 100% { 
transform: rotate(4deg); 
 }
50% { 
transform: rotate(-4deg); 
 }
}